<div class="movie-page">
  <div *ngFor="let movie of movies" class="movie-container">
    <h2>{{ movie.Title }}</h2>
    <p>Directed by: {{ movie.Director.Name }}</p>
    <img [src]="movie.ImagePath" [alt]="movie.Title" class="movie-image" />

    <div class="movie-actions">
      <button (click)="openGenreDialog(movie.Genre)">Genre</button>
      <button (click)="openDirectorDialog(movie.Director)">Director</button>
      <button (click)="openSynopsisDialog(movie.Description)">Synopsis</button>
      <button
        *ngIf="!isFavorite(movie._id)"
        (click)="addFavorite(movie._id)"
        class="fave-button"
      >
        Favorites
      </button>
    </div>
  </div>
</div>
